.chat-panel{
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
}

.chat-form{
  width: 75%;
  height: 75%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.chat-history{
  word-wrap: break-word;
  padding: 1rem;
  box-sizing: border-box;
  border-style: solid;
  border-width: 1px;
  width: 100%;
  height: 90%;
  box-shadow: inset 0 0 2px #000000;
  overflow-y: auto;
}

.chat-entry-controls{
  width: 100%;
  display: flex;
}

.chat-entry-submit{
  height: 3rem;
  width: 5rem;
}

.chat-entry-field{
  flex-grow: 1;
  margin-right: .5rem;
  resize: none;
  height: 3rem;
  padding-top: .5rem;
  padding-left: .5rem;
}

.name-label{
  font-weight: bold;
  color: #FF0000;
}

.chat-entry{
  display: flex;
  white-space: pre-wrap;
}
